<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css">
        <!-- fuente para textos -->
        <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css">
        <!-- Archivo CSS -->
        <link rel="../style.css">
        <title>Process Info</title>
    </head>
    <body className='background'>
        <main className='outerContainer'>
            <h1 className='mainTitle'>* Process Info *</h1>
            <div className='subContainer'>
                <h2 className='subtitle'>Argumentos de entrada</h2>
                <p className='text'><%-arg%></p>
            </div>
            <div className='subContainer'>
                <h2 className='subtitle'>Nombre de la plataforma</h2>
                <p className='text'><%-os%></p>
            </div>
            <div className='subContainer'>
                <h2 className='subtitle'>Versión de node.js</h2>
                <p className='text'><%-nodeVersion%></p>
            </div>
            <div className='subContainer'>
                <h2 className='subtitle'>Memoria total reservada</h2>
                <p className='text'><%-rss%></p>
            </div>
            <div className='subContainer'>
                <h2 className='subtitle'>Path de ejecución</h2>
                <p className='text'><%-pathExec%></p>
            </div>
            <div className='subContainer'>
                <h2 className='subtitle'>Process id</h2>
                <p className='text'><%-processId%></p>
            </div>
            <div className='subContainer'>
                <h2 className='subtitle'>Carpeta de proyecto</h2>
                <p className='text'><%-rootDir%></p>
            </div>
        </main>
    </body>
</html>