<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css"> -->
        <!-- fuente para textos -->
        <!-- <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css"> -->
        <!-- Archivo CSS -->
        <!-- <link rel="stylesheet" href="../style.css"> -->
        <title>Product Page</title>
    </head>
    <body>
        <main>
            <%- include('./partials/navbarAuth.ejs'); %>
            <div>
                <a href="/shop/products/gallery">Volver a Productos</a>
                <a href="/user/:userId/cart">Ir al Carrito</a>
            </div>
            <div>
                <p><%-message%></p>
            </div>
            <article>
                <div>
                    <div>
                        <img src="<%-detailThumbnail%>" alt="<%-name%>"></img>
                        <div>
                            <form action="/user/:userId/products/:productId/update" method="post">
                                <input type="submit" value="<%-idNumber%>">Agregar al carrito</input>
                            </form>
                            <a href='/user/:userId/cart'>Ir al carrito</a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1><%-name%></h1>
                            <p> Presentación: <%-presentation%> | $ <%-price%></p>
                        </div>
                        <div>
                            <p><%-productType%></p>
                            <p><%-skinType%></p>
                            <p><%-hairType%></p>
                            <p><%-function%></p>
                            <p><%-zeroWaste%></p>
                        </div>
                        <div>
                            <h2>Detalle del producto</h2>
                            <p><%-description%></p>
                        </div>
                        <div>
                            <h3>Modo de uso</h3>
                            <p><%-instructions%></p>
                        </div>
                        <div>
                            <h3>INCI</h3>
                            <p><%-inci%></p>
                        </div>
                        <div>
                            <p>Unidades disponibles: <%-stock%></p>
                        </div>
                    </div>
                </div>
            </article>
            <%- include('./partials/footer.ejs'); %>
        </main>
    </body>
</html>